body, p {
  margin: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  
  &[disabled] {
	cursor: default;
  }
}